* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 215, 193);
}

#imgRegister {
    border-radius: 30px;
}

.row {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 12px 12px 22px rgb(184, 162, 112);
}

#logo {
    width: 100px;
}

#btn2:hover {
    background-color: white;
    border: 3px solid rgb(196, 92, 22);
    color: rgb(196, 92, 22);
    font-weight: bolder;
}

#btn2 {
    background-color: black;
    font-weight: bold;
}

input:hover {
    background-color: white;
    border: 3px solid rgb(196, 92, 22);
    color: rgb(196, 92, 22);
}