* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(195, 151, 194);
}

#imgRegister {
    border-radius: 30px;
}

.row {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 12px 12px 22px rgb(182, 125, 193);
}

#logo {
    width: 100px;
}

#btn2:hover {
    background-color: white;
    border: 3px solid rgb(96, 13, 105);
    color: rgb(96, 13, 105);
    font-weight: bolder;
}

#btn2 {
    background-color: rgb(96, 13, 105);
}